<config platform="project" template="project (default)">Created: Sun Dec 7 18:40:34 2014
By: Schizofunky
Using Template: project (default)

&lt;description to go here><option value="../../../marmaladeexampleresources/resources/icons" name="icon" fromDef="false"/>
    <option value="../../../marmaladeexampleresources/resources/splashscreens" name="splashscreen" fromDef="false"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Stage1" name="name" fromDef="true"/>
    <option value="Stage1" name="caption" fromDef="true"/>
    <option value="Schizofunky" name="provider" fromDef="true"/>
    <option value="(C) Schizofunky" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
